@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=Montserrat:wght@300;400;800&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,500&display=swap');

  .services-container {
      color: var(--dark-blue);
      background-color: var(--background);
      transition: var(--transition);
      position: relative ;
      border: 10px solid transparent;
      border-image-slice: 3;
      border-width: 5px;
      background-clip: padding-box, border-box;
      border-image: linear-gradient(to right, #00e6e6, #ff66ff) 1; 
      border-radius: 10px;
      padding: 2rem;
      min-height: 30rem;
      min-width: 10rem;
      margin: 5rem;
      top: 40%;
      box-sizing: border-box;
      top: 2rem;
      align-items: center;
    .qno {
      background-color: white;
      left: 40%;
      padding: 0 2rem;
      top: -1rem;
      position: absolute;
      h1{
        font-size: 1rem;
        text-transform: uppercase;
        span {
          color: #fc4958;
        }
      }
    }  
    .question {
        gap: 0.1rem;
        transition: var(--transition);
        text-align: center;
        padding: 2rem;
        h4{
          font-family: 'Nunito', sans-serif;
          font-weight: 500;
          color: var(--light-blue);
        }
      }
    .options{  
      transition: var(--transition);
      .content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
          justify-content: center;
          background-color: var(--background);
          padding: 1rem;
          cursor: pointer;
          h4{
            padding: 1rem;
            border: 2px solid;
            color: var(--dark-blue);
            border-radius: 1rem;
            width: 13rem;
            text-align: center;
            &:hover {
              box-shadow: var(--elevate-shadow);
            }
          }
          
          
        }
        p {
          text-transform: uppercase;
          color: var(--light-blue);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
          svg {
            font-size: 1.4rem;
          }
        }
        h4 {
          
        }
        button {
          // background-color: var(--blue);
          // padding: 0.4rem 0.8rem;
          // border-radius: 2rem;
          // color: white;
          // border: none;
          // cursor: pointer;
          // border: 10px solid transparent;
          // background-clip: padding-box, border-box;
          // background-color: #ff66ff;
          border-image: linear-gradient(to right, #00e6e6, #ff66ff) 1;
        }
        .image {
          img {
            max-inline-size: 100%;
            block-size: auto;
          }
        }
      }
      .two,
      .three {
        flex-direction: row;
      }

    @media only screen and (min-device-width: 768px) {
      .services-container {
        right: 10%;
        height: 10rem;
        width: 80%;
      }
      
    }
    @media only screen and (min-device-width: 1200px) {
      .services-container {
        right: 10%;
        height: 10rem;
        width: 80%;
      }
    }
  }